<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/layout :: head('내가 쓴 댓글')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar(${user}, ${categories})}"></div>
<main class="container container-narrow py-4">
  <div class="text-center mb-4">
    <h3 class="m-0">내가 쓴 댓글</h3>
  </div>

  <table class="table table-hover align-middle">
    <thead class="table-light">
    <tr>
      <th class="text-center" style="width: 60%;">댓글 내용</th>
      <th class="text-center" style="width: 25%;">작성일</th>
      <th class="text-center" style="width: 15%;">원문 게시글</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}">
      <td>
        <a th:href="@{|/boards/${comment.board.id}?userId=${user.id}|}" class="d-flex align-items-center text-decoration-none">
          <span th:text="${comment.content}">댓글 내용</span>
        </a>
      </td>
      <td class="text-center" th:text="${#temporals.format(comment.createdAt,'yyyy-MM-dd HH:mm')}">2025-08-12 10:00</td>
      <td class="text-center">
        <a th:href="@{|/boards/${comment.board.id}?userId=${user.id}|}" th:text="${comment.board.title}">원문 제목</a>
      </td>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>
